{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "iOS >=10", "ie >= 10"]
      }
    }]
  ],
  "plugins": [
    "array-includes",
    "transform-object-assign",
    "transform-runtime",
  ]
}
