{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 versions", "iOS >=10", "ie >= 10"]
      },
      "useBuiltIns": "usage"
    }]
  ],
  "plugins": [
    "@babel/transform-object-assign",
    "@babel/transform-runtime"
  ]
}
